# Environment
venv/
.env

# Data (PDFs and images are large — don't commit)
data/pdfs/*
data/images_en/*
data/images_ar/*
ocr_output/english/*
ocr_output/arabic/*

# But keep the folder placeholders
!data/pdfs/.gitkeep
!data/images_en/.gitkeep
!data/images_ar/.gitkeep
!ocr_output/english/.gitkeep
!ocr_output/arabic/.gitkeep

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
